{% extends 'base.html' %}

<h1>All Post</h1>


{% block content %}
{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}

<div class="alert alert-success" role="alert" style="display:flex; justify-content: center;">
  <p style="color:green  ">{{ message }}</p>
</div>
{% endif %}
{% endfor %}
{% endif %}
<a href="{% url 'add_post' %}" class="btn btn-primary">Add Post</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Course name</th>
      <th scope="col">Created_at</th>
      
    </tr>
  </thead>
  <tbody>
  {% for post in post %}
  <tr>
      
      <td>{{ post.title }}</td>
      <td >{{ post.created_at }}</td>
      <td><a class="btn btn-primary" href="{% url 'update_post' course.id %}">update</a></td>
      <td><a class="btn btn-primary" href="{% url  'delete_post' course.id %}">delete</a></td>
    </tr>

{% endfor %}
  </tbody>
</table>

{% endblock content %}










